<%= form_with(model: offering, local: true, data: { offering_id: offering.id, controller: 'offerings' }) do |form| %>
  <% if offering.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
        <% offering.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :opens_at, style: "display: block" %>
    <%= form.datetime_field :opens_at %>
  </div>

  <div>
    <%= form.label :closes_at, style: "display: block" %>
    <%= form.datetime_field :closes_at %>
  </div>

  <div>
    <%= form.label :harvest_at, style: "display: block" %>
    <%= form.date_field :harvest_at %>
  </div>

  <div>
    <%= form.label :location_id, style: "display: block" %>
    <%= form.collection_select(:location_id, Location.all, :id, :name) %>
  </div>

  <h3>Offered Products</h3>
  <div id="offered-products">
    <%= form.fields_for :offered_products do |offered_product_form| %>
      <%= render 'offered_product_fields', form: offered_product_form %>
    <% end %>
    <div class="links">
      <%= button_tag 'Add Product', type: 'button', data: { action: 'click->offerings#addProduct' } %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
