<div id="<%= dom_id offering %>">
  <p>
    <strong>Status:</strong>
    <span class="text-sm font-medium"><%= offering.status %></span>
  </p>

  <p>
    <strong>Local:</strong>
    <%= offering.location.name %>
  </p>

  <p>
    <strong>Abre em:</strong>
    <%= I18n.l(offering.opens_at, format: :short) %>
  </p>

  <p>
    <strong>Encerra em:</strong>
    <%= I18n.l(offering.closes_at, format: :short) %>
  </p>

  <% if offering.harvest_at %>
    <p>
      <strong>Colheita em:</strong>
      <%= I18n.l(offering.harvest_at, format: :long) %>
    </p>
  <% end %>
</div>
