<div id="<%= dom_id offering %>">
  <p>
    <strong>Opens at:</strong>
    <%= offering.opens_at %>
  </p>

  <p>
    <strong>Closes at:</strong>
    <%= offering.closes_at %>
  </p>

  <p>
    <strong>Harvest at:</strong>
    <%= offering.harvest_at %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= offering.location_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= offering.organization_id %>
  </p>

</div>
