<% if notice %><p class="notice"><%= notice %></p><% end %>

<div class="flex justify-between items-center mb-6">
  <h1 class="page-title mb-0">Oferendas</h1>
  <%= link_to "Nova oferenda", new_offering_path, class: "btn-primary" %>
</div>

<div id="offerings" class="space-y-4">
  <% @offerings.each do |offering| %>
    <div class="card">
      <%= render offering %>
      <%= link_to "Ver", offering, class: "link mt-2 inline-block" %>
      <%= link_to "Copiar", new_offering_path(from_id: offering.id), class: "link mt-2 inline-block" %>
    </div>
  <% end %>
</div>
