<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="error-box">
      <h2 class="font-semibold mb-2"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul class="list-disc list-inside">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email %>
  </div>

  <div class="form-field">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="form-field">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="form-field">
    <%= form.label :role, class: "form-label" %>
    <%= form.text_field :role %>
  </div>

  <div class="mt-6">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
