<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= user.active? %>
  </p>

  <% if user.supporter? && user.subscription %>
    <p>
      <strong>Local:</strong>
      <%= user.location&.name %>
    </p>
    <p>
      <strong>Limite:</strong>
      <%= user.item_limit %> itens
    </p>
  <% end %>
</div>
