<% if notice %><p class="notice"><%= notice %></p><% end %>

<div class="card mb-6">
  <%= render @user %>
</div>

<div class="flex gap-4 items-center">
  <%= link_to "Editar", edit_user_path(@user), class: "btn-primary" %>
  <%= link_to "Voltar", users_path, class: "link-plain" %>
  <%= button_to "Excluir", @user, method: :delete, class: "btn-danger" %>
</div>
