<%= form_with(model: harvest,
  data: {
    controller: "counter",
    counter_limit_value: current_user.item_limit
  }
) do |form| %>
  <% if harvest.errors.any? %>
    <div class="error-box">
      <h2 class="font-semibold mb-2"><%= pluralize(harvest.errors.count, "error") %> prohibited this harvest from being saved:</h2>

      <ul class="list-disc list-inside">
        <% harvest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4 text-left text-neutral-3 font-semibold">
    <div><%= form.label :harvested_products, style: "display: block" %></div>
    <div>Disponível</div>
    <div>Quantidade a pedir</div>
  </div>

  <div class="space-y-4" data-counter-target="rows">
    <% @current_offering.offered_products.each do |offered| %>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center py-3 border-t border-color-border" data-counter-row>
        <div class="flex items-center">
          <%= offered.product_name %>
        </div>
        <div data-counter-target="available"><%= offered.available_amount %></div>
        <div>
          <%= form.fields_for :harvested_products, harvested_product(offered, current_user) do |harvested_fields| %>
            <button type="button" data-action="click->counter#decrement" data-counter-target="button" class="text-main-1 font-bold text-xl">-</button>
            <%= harvested_fields.text_field :amount, data: { counter_target: "input" }, class: 'input-disabled' %>
            <button type="button" data-action="click->counter#increment" data-counter-target="button" class="text-main-1 font-bold text-xl">+</button>
            <%= harvested_fields.hidden_field :offered_product_id %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center py-3 border-t border-color-border">
    <div>
      <div class="bg-neutral-2 rounded px-2 py-1 text-sm inline-block text-neutral-3">
        <span data-counter-target="total">0</span>
        <% if current_user.item_limit %>
          de <%= current_user.item_limit %>
        <% end %>
        itens selecionados
      </div>
    </div>
    <div>
      <%= form.submit class: "btn-primary" %>
    </div>
  </div>
<% end %>
