<%= form_with(model: harvest) do |form| %>
  <% if harvest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(harvest.errors.count, "error") %> prohibited this harvest from being saved:</h2>

      <ul>
        <% harvest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :harvested_products, style: "display: block" %>
    <% @current_offering.offered_products.each do |offered| %>
      <p><%= "#{offered.product_name}: #{offered.amount}" %></p>
      <%= form.fields_for :harvested_products, HarvestedProduct.new(offered_product_id: offered.id) do |harvested_fields| %>
        <%= harvested_fields.label :amount %>
        <%= harvested_fields.text_field :amount %>
        <%= harvested_fields.hidden_field :offered_product_id %>
        <%#= render "offered_product_fields", form: offered_product_fields %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
