<div id="<%= dom_id harvest %>">
  <p>
    <strong>Offering:</strong>
    <%= harvest.offering_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= harvest.user_id %>
  </p>

  <%= harvest.harvested_products.count %>
  <% harvest.harvested_products.each do |harvested| %>
    <%= "#{harvested.product_name}: #{harvested.amount}" %>
  <% end %>
</div>
