<% if notice %><p class="notice"><%= notice %></p><% end %>

<div class="card mb-6">
  <%= render @harvest %>
</div>

<div class="flex gap-4 items-center">
  <%= link_to "Editar", edit_harvest_path(@harvest), class: "btn-primary" %>
  <%= link_to "Voltar", harvests_path, class: "link-plain" %>
  <%= button_to "Excluir", @harvest, method: :delete, class: "btn-danger" %>
</div>
