<% if notice %><p class="notice"><%= notice %></p><% end %>

<div class="card mb-6">
  <%= render @harvest %>
</div>

<div class="flex gap-4 items-center">
  <%= link_to "Editar", edit_harvest_path(@harvest), class: "btn-primary" %>
  <%= link_to "Voltar", root_path, class: "link-plain" %>
  <% if policy(@harvest).destroy? %>
    <%= button_to "Cancelar pedido", @harvest, method: :delete, class: "btn-danger",
          data: { turbo_confirm: "Tem certeza que deseja cancelar seu pedido?" } %>
  <% end %>
</div>
