<% if notice %><p class="notice"><%= notice %></p><% end %>

<div class="card mb-6">
  <%= render @product %>
</div>

<div class="flex gap-4 items-center">
  <%= link_to "Editar", edit_product_path(@product), class: "btn-primary" %>
  <%= link_to "Voltar", products_path, class: "link-plain" %>
  <%= button_to "Excluir", @product, method: :delete, class: "btn-danger" %>
</div>
