<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div class="error-box">
      <h2 class="font-semibold mb-2"><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul class="list-disc list-inside">
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-field">
    <%= form.label :pickup_place, class: "form-label" %>
    <%= form.text_field :pickup_place %>
  </div>

  <div class="form-field">
    <%= form.label :link, class: "form-label" %>
    <%= form.text_field :link %>
  </div>

  <div class="form-field">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address %>
  </div>

  <div class="mt-6">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
