<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Pickup Place:</strong>
    <%= location.pickup_place %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= location.link %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= location.organization_id %>
  </p>

</div>
