<% if notice %><p class="notice"><%= notice %></p><% end %>

<div class="card mb-6">
  <%= render @location %>
</div>

<div class="flex gap-4 items-center">
  <%= link_to "Editar", edit_location_path(@location), class: "btn-primary" %>
  <%= link_to "Voltar", locations_path, class: "link-plain" %>
  <%= button_to "Excluir", @location, method: :delete, class: "btn-danger" %>
</div>
