<!DOCTYPE html>
<html>
  <head>
    <title>OfertaRecorrente</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white font-sans">
    <div class="container mx-auto px-4 py-8">
      <header class="flex justify-between items-center mb-8">
        <%= link_to root_path do %>
          <h1 class="text-xl font-bold">CSA Recife</h1>
        <% end %>
        <% if logged_in? %>
          <nav>
            <ul class="flex space-x-4">
              <li><button class="px-4 py-2 text-neutral-3 hover:text-main-2">Gerenciar ▼</button></li>
              <li><button class="px-4 py-2 text-neutral-3 hover:text-main-2">Minhas Oferendas ▼</button></li>
              <li><%= button_to('Logout', logout_path, { class: 'px-4 py-2 text-neutral-3 hover:text-main-2', method: :delete}) %></li>
            </ul>
          </nav>
        <% end %>
      </header>
      <main class="mt-8 px-5 flex w-full">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
