<!DOCTYPE html>
<html>
  <head>
    <title>OfertaRecorrente</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
      <header class="flex justify-between items-center mb-8">
        <%= link_to root_path do %>
          <h1 class="text-xl font-bold">CSA Recife</h1>
        <% end %>
        <nav>
          <ul class="flex space-x-4">
            <li><button class="px-4 py-2 text-gray-600 hover:text-gray-800">Gerenciar ▼</button></li>
            <li><button class="px-4 py-2 text-gray-600 hover:text-gray-800">Minhas Oferendas ▼</button></li>
            <li><%= button_to('Logout', logout_path, { class: 'px-4 py-2 text-gray-600 hover:text-gray-800', method: :delete}) %></li>
          </ul>
        </nav>
      </header>
      <main class="container mx-auto mt-28 px-5 flex">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
